.address-form-container {
    max-width: 900px;
}

.address-form input,
.address-form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-row input,
.form-row select {
    flex: 1;
}

.section-title {
    margin: 15px 0;
    font-size: 16px;
    color: #555;
    text-align: left;
}


.submit-btn1 {
    background-color: black;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    margin-left: 10rem;
}