.dashboard-container {
    margin: 2rem 8rem;
    display: flex;
    font-family: sans-serif;
    margin-top: 0;
}

.dashboard-sidebar {
    width: 250px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    /* justify-content: center; */
    align-items: center;
    text-transform: uppercase;
}

.dashboard-sidebar h3 {
    margin-bottom: 20px;
    color: #444;
    font-weight: bold;
}

.dashboard-box {
    align-items: flex-start;
}

.dashboard-sidebar .nav-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

}

.nav-links a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    padding: 8px 0;
    transition: color 0.2s ease;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #a0004e;
}

.active-link {
    color: #a0004e;
    font-weight: bold;
}

.logout-button {
    background-color: #fff;
    color: #111;
    border: none;
    text-transform: uppercase;
    padding: 8px 0;
    margin-top: 0;
}

.logout-button:hover {
    color: #a0004e;
}


/* RIGHT SECTION */
.dashboard-info {
    display: flex;
    gap: 24px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name,
.user-email {
    margin-top: 0;
    font-size: 17px;
    text-align: left;
}

.user-name {
    text-transform: uppercase;
}



.dashboard-content {
    flex: 1;
    padding: 40px;
}

.dashboard-content h2 {
    font-weight: 500;
    margin-bottom: 30px;
}

.dashboard-sections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}

.dashboard-box {
    display: flex;
    justify-content: space-between;
}

.edit-link {
    text-decoration: none;
    color: rgb(117, 117, 117);
    margin-left: 10px;
    font-size: 16px;
}

.avatar-circle {
    width: 60px;
    height: 60px;
    background-color: #a0004e;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 10px;
}