.orders-container {
    padding: 20px;
}


.continue-btn2 {
    padding: 8px 2px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 300px;
}

.orders-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

.empty-orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 7rem;
}

.empty-orders p {
    font-size: 18px;
    color: rgb(150, 150, 150);
    text-transform: uppercase;
}