.rental-process-wrapper {
    padding: 0 60px;

}

.rental-process-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 40px;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #f4f0ec;
    font-family: 'Poppins', sans-serif;
    color: #3e3e3e;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
}

/* LEFT SIDE: STEPS  */
.rental-process-left {
    flex: 0.7;
    min-width: 280px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.step-box {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.step-number {
    background-color: #e4d7ce;
    color: #3e3e3e;
    font-weight: bold;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    margin-right: 12px;
    font-size: 16px;
}

.step-text {
    font-size: 0.95rem;
    font-weight: 500;
}

/* RIGHT SIDE */
.rental-process-right {
    flex: 1.3;
    min-width: 320px;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.rental-process-right img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0;
}

.rental-process-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.rental-process-text h2 {
    font-size: 48px;
    font-weight: 700;
    color: #55326a;
    margin: 0;
}

.rental-process-text p {
    font-size: 32px;
    font-weight: 400;
    color: #6c4c3f;
    margin: 0;
}



@media (min-width: 950px) and (max-width: 1200px) {

    .rental-process-wrapper {
        padding: 0;
    }

    .rental-process-section {
        padding: 25px;
        flex-direction: row;
    }

    .rental-process-right img {
        width: 250px;
        height: 250px;
        order: 2;
    }

}

@media (min-width: 780px) and (max-width: 950px) {

    .rental-process-section {
        margin-left: 0;
        margin-right: 0;
        justify-content: center;

    }

    .rental-process-right {
        order: 1;
        flex-direction: row;
        max-width: 100%;
    }

    .rental-process-right img {
        width: 250px;
        height: 250px;
    }

    .rental-process-left {
        min-width: 500px;
        margin-top: 2.5rem;
        order: 2;
    }
}

@media (min-width: 580px) and (max-width: 780px) {

    .rental-process-section {
        margin-left: 0;
        margin-right: 0;
        margin-top: 60px;
        justify-content: center;
    }

    .rental-process-left {
        min-width: 300px;
        order: 2;
    }

    .rental-process-right img {
        display: none;
    }

    .rental-process-right {
        order: 1;
        margin-bottom: 1rem;
    }

    .rental-process-text {
        flex-direction: row;
        gap: 1rem;
    }

    .rental-process-text h2 {
        font-size: 30px;
    }

}



@media (max-width: 580px) {
    .rental-process-wrapper {
        padding: 0 30px;
        margin: 2rem;
    }

    .rental-process-section {
        margin-left: 0;
        margin-right: 0;
        padding: 25px;
        margin-top: 30px;
        flex-direction: column;
    }

    .rental-process-left {
        min-width: 250px;
        order: 2;
    }

    .rental-process-right img {
        display: none;
    }

    .rental-process-right {
        order: 1;
    }

    .rental-process-right {
        min-width: 0;
    }

    .rental-process-text h2 {
        font-size: 35px;
    }

}