.cocktail-page {
    padding: 40px;
    font-family: 'Segoe UI', sans-serif;
}

/* Breadcrumb */
.breadcrumb-left {
    margin-bottom: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #555;
    justify-content: flex-start;
}

.breadcrumb-link {
    text-decoration: none;
    font-weight: 500;
}

.breadcrumb-link:hover {
    text-decoration: underline;
}


/* Grid layout */
.cocktail-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

/* Card container */
.cocktail-card {
    width: 280px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s;
    position: relative;
}

.cocktail-card:hover {
    transform: scale(1.02);
}

/* Product image */
.product-image {
    width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
}

/* Always-visible text */
.text-below {
    margin-top: 10px;
    position: relative;
}

.text-below .owner-name {
    text-decoration: underline;
    color: #444;
    margin-bottom: 4px;
    margin-top: 0;
    font-size: 18px;
}

.product-name {
    font-size: 17px;
    color: #222;
    margin-bottom: 4px;
}


.price-hover {
    font-size: 16px;
    color: rgb(30, 30, 30);
    padding: 6px 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: inline-block;
    margin-top: 4px;
}

.cocktail-card:hover .price-hover {
    opacity: 1;
}