.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 9999;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;
}

.search-bar input {
    border: none;
    margin-top: 1rem;
    font-size: 1.5rem;
    border: none;
    padding: 10px;
    width: 80rem;
    border-bottom: 2px solid black;
    outline: none;
    /* padding-left: 15rem; */
}



.close-btn {
    position: absolute;
    /* top: 1rem; */
    /* right: 1rem; */
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 0rem;
    /* margin-right: 20rem; */
    color: rgb(52, 51, 52);
}



.search-results {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
}



.result-card {
    width: 250px;
    cursor: pointer;
    background-color: #fdfdfd;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.1s;
}

.result-card:hover {
    transform: scale(0.99);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.result-card img {
    width: 100%;
    /* height: 200px; */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.result-card h4 {
    font-size: 16px;
    /* margin: 5px 0; */
    color: #333;
}

.result-card p {
    font-size: 14px;
    color: #777;
    margin-top: 2rem;
}

.not-found {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-top: 40px;
}

.not-found {
    color: rgb(76, 60, 82);
    font-weight: bold;
    font-size: 3rem;
}


.product-display-wrapper {
    display: flex;
    padding: 40px;
    gap: 30px;
    flex-wrap: wrap;
}

.product-image img {
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-info {
    max-width: 500px;
}

.product-info h2 {
    margin-bottom: 10px;
    font-size: 2rem;
}




@media (min-width: 950px) and (max-width: 1200px) {
    .search-bar input {
        width: 65rem;
    }

    .result-card p {
        margin-top: 0.5rem;
    }

    .search-overlay .close-btn {
        padding-left: 0;
    }

    .search-results {
        justify-content: center;
    }
}


@media (min-width: 550px) and (max-width: 950px) {

    .search-bar input {
        width: 35rem;
    }

    .result-card p {
        margin-top: 0.5rem;
    }

    .search-overlay .close-btn {
        padding-left: 0;
    }

    .search-results {
        justify-content: center;
    }
}

@media (max-width: 550px) {

    .search-bar input {
        width: 15rem;
    }

    .result-card p {
        margin-top: 0.5rem;
    }

    .search-overlay .close-btn {
        padding-left: 0;
    }

    .search-results {
        justify-content: center;
    }


}