.navbar-order-page {
    position: relative;
    background: url('../../assets/OrderSummaryImg.png') no-repeat center center/cover;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    color: #fff;
    overflow: hidden;
    padding-left: 5rem;
    padding-right: 5rem;
}

.navbar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}


.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    z-index: 1;
    position: relative;

}


.site-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.site-title h2 {
    margin: 0;
    font-size: 23px;
    font-weight: bold;
    color: #f2f1f3;
}

.site-title h3 {
    margin: 0;
    font-size: 18px;
    color: #c4c0c0;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.cart-icon {
    position: relative;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -10px;
    border-radius: 50%;
    color: white;
    font-weight: bolder;
    font-size: 0.75rem;
    padding: 2px 6px;
    background-color: rgba(255, 255, 255, 0);
}


.order-summary-container {
    padding: 3rem 10rem;
    display: flex;
    justify-content: space-between;
}


/*LEFT SECTION*/

.left-section {
    width: 60%;
}

.left-section form input,
.left-section form select {
    width: 80%;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.account-box h3 {
    color: rgb(128, 128, 128);
}

.account-box p {
    color: #1c1c2e;
    margin-top: 0;
    text-align: left;
    font-size: 20px;
    margin-bottom: 1rem;
}

.account-box label {
    margin-left: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333;
}

.account-box input {
    flex: 0;
    padding: 0;
    border: 0;
    outline: none;
    width: 100px;
    margin-left: 0;
    font-size: 20px;
}

.delivery-box {
    margin-top: 2rem;
}

.delivery-box h3 {
    margin-bottom: 1rem;
    color: rgb(128, 128, 128);
}

.delivery-box form {
    margin-top: 0;
}

.delivery-box input {
    flex: 0;
    margin-right: auto;
}

.delivery-box .name-fields {
    display: flex;
    gap: 8px;
}

.delivery-box .name-fields input {
    margin-right: 0.1rem;
    margin-left: 0;
}

.delivery-box .city-section {
    display: flex;
}

.delivery-box .city-section select,
.delivery-box .city-section input {
    flex: 0;
    margin-right: 0.5rem;
    margin-left: 0;
}



.pay-now {
    margin-top: 1rem;
    background: #1c1c2e;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 1rem;
    width: 70%;
}


/* Layout */
.order-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
}


.cart-summary img {
    width: 50px;
    height: 60px;
    object-fit: cover;
    margin-right: 1rem;
}

.deposit-img-placeholder {
    width: 50px;
    height: 60px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 1rem;
}

.discount-box {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
}

.discount-box input {
    padding: 0.5rem;
}

.summary-prices p {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.summary-prices h3 {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.right-section {
    width: 50%;
    background: #f7f7f7;
    padding: 1.5rem;
    border-radius: 6px;
    padding: 30px;
    background-color: #fafafa;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Segoe UI', sans-serif;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.cart-summary .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.499);
}

.cart-summary .item img {
    width: 60px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 15px;
}

.cart-summary .item div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding-left: 10px;
}

.cart-summary .item p {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0;
}

.cart-summary .item small {
    color: #777;
    font-size: 13px;
}

.totals {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.totals input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.totals p {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #333;
    margin: 5px 13px;
}

.totals h3 {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 10px;
    color: #111;
    font-weight: bold;
}

.discount {
    display: flex;
    gap: 10px;
}

.discount button {
    width: 100px;
    height: 45px;
    margin-top: 0.1rem;
    padding: 10px;
    background-color: #eee;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    cursor: pointer;
}

.orderDetails input {
    margin: 0;
}



@media (min-width: 1200px) {
    .order-summary-container {
        margin: 0 5rem;
        padding: 9rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .delivery-box .name-fields input {
        width: 70rem;
    }

    .delivery-box .city-section select,
    .delivery-box .city-section input {
        width: 30rem;
    }


    .cart-summary .item p {
        text-align: left;
    }

    .cart-summary .item,
    .cart-summary {
        margin-bottom: 0;
    }

    .cart-summary .item img {
        margin-right: 10px;
    }

    .cart-summary .item div {
        padding-left: 0;
    }

    .totals {
        padding-top: 0;
    }

    .discount {
        gap: 3rem;
    }

    .totals input[type="text"] {
        width: 250px;
        flex: 0;
        margin: 0;
    }

    .totals h3 {
        gap: 2rem;
    }
}



@media (min-width: 750px) and (max-width: 1200px) {

    .order-summary-container {
        padding: 4rem
    }

    .delivery-box .name-fields {
        flex-direction: column;
        margin-right: 0;
    }

    .city-section {
        flex-direction: column;
        width: 80%;
    }

    .cart-summary .item p {
        text-align: left;
    }

    .cart-summary .item,
    .cart-summary {
        margin-bottom: 0;
    }

    .cart-summary .item img {
        margin-right: 10px;
    }

    .cart-summary .item div {
        padding-left: 0;
    }

    .totals {
        padding-top: 0;
    }

    .discount {
        flex-direction: column;
        justify-content: center;
    }

    .totals input[type="text"] {
        width: 200px;
        flex: 0;
        margin: 0;
    }

    .totals h3 {
        justify-content: center;
        gap: 2rem;
    }

}

@media (max-width: 750px) {
    .order-summary-container {
        padding: 2rem;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
    }

    .orderDetails,
    .name-fields,
    .city-section {
        flex-direction: column;
    }


    .left-section form input,
    .left-section form select,
    .delivery-box .city-section select,
    .delivery-box .city-section input {
        width: 100%;
    }

    .left-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-right: 4rem;
        padding-left: 4rem;
    }

    .right-section {
        width: 100%;
    }

    .cart-summary {
        margin-bottom: 0;
    }

    .cart-summary .item img {
        margin-right: 10px;
    }

    .cart-summary .item p {
        text-align: left;
    }

    .discount {
        flex-direction: column;
    }

    .totals input[type="text"] {
        width: 200px;
        margin: 0;
        flex: 0;
    }

    .totals h3 {
        margin: 1rem;
    }

    .totals {
        padding-top: 0;
    }
}