.slogan-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6rem;
    margin-left: 10rem;
    margin-right: 10rem;
    align-items: center;
    background-color: #f8f3ee;
    padding: 3rem;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #3e3e3e;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
}

.slogan-left {
    flex: 1;
    margin-left: 3rem;
}

.slogan-line {
    font-size: 2.2rem;
    font-weight: 600;
    color: #55326a;
}

.contact-section {
    margin-top: 2rem;
}

.contact-section h2 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    color: #4b2d1a;
}

.contact-section p {
    font-size: 1rem;
    color: #333;
    margin: 0.2rem 0;
    text-align: left;
}

.contact-section a {
    color: #7a4d36;
    text-decoration: none;
}

.slogan-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan-right img {
    width: 70%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0.6rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


@media (min-width: 950px) and (max-width: 1115px) {
    .slogan-banner {
        margin-left: 6rem;
        margin-right: 6rem;
        padding: 3.5rem;
    }

}

@media (min-width: 780px) and (max-width: 950px) {

    .slogan-banner {
        margin-left: 4rem;
        margin-right: 4rem;
        padding: 2rem;
        gap: 2rem;
    }

    .slogan-left {
        margin-left: 0;
    }

    .slogan-line {
        font-size: 1.8rem;
    }

}

@media (min-width: 580px) and (max-width: 780px) {
    .slogan-banner {
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 2rem;
        gap: 2rem;
    }

    .slogan-left {
        margin-left: 0;
    }

    .slogan-line {
        font-size: 1.8rem;
    }
}



@media (min-width: 350px) and (max-width: 580px) {
    .slogan-banner {
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 2rem;
        gap: 2rem;
    }

    .slogan-left {
        margin-left: 0;
    }

    .slogan-line {
        font-size: 1.5rem;
    }

}